<div style="height: calc(100vh - 56px);">
    <div id="map" style="width: 100%; min-height: 100%;"></div>
</div>
<script>
 var bounds,
     markers = [],
     center = [],
     bounds = [];
 
 var map = L.map('map');
 L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
     maxZoom: 19,
     attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
 }).addTo(map);

 function add_marker(name, lat, lon, map) {
     var marker = L.marker([lat, lon]).addTo(map)
		   .bindPopup(name);
     center.push([lat, lon]);
     var rawBounds = L.bounds(center);
     var bound = [[rawBounds['min']['x'], rawBounds['min']['y']],
		  [rawBounds['max']['x'], rawBounds['max']['y']]];
     bounds.push(bound);
     markers.push(marker);
 }

 function populate_map() {
     jQuery.getJSON("/profiles.json", function (d) {
	 for (i in d) {
	     // set lat and lon varibles
	     var lat = d[i]['latitude'],
		 lon = d[i]['longitude'];
	     // log lat lon varibles for debugging
	     console.log('lat, long:', lat, lon)
	     // makesure lat and long varibles are not null
	     if (lat != null && lon != null) {
		 add_marker(d[i].first_name+" "+d[i].last_name, lat, lon, map);
	     } else {
		 console.log("the location can't have null values")
	     }
	 }

	 // Set map view to include all markers
	 map.fitBounds(bounds)

	 // Zoom out and center on leaf if there is only one marker
	 if (center.length <= 1) {
	     map.setView([43.0751873, -72.2711498], 11);
	     console.log("reset view")
	 }
     })
	   .error(function (e) {
	       map.setView([43.0751873, -72.2711498], 11);
	   });
 }
 add_marker("Leaf", 43.0751873, -72.2711498, map);
 populate_map()
</script>
