//Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//= require_tree .
//= require_self
//= require leaflet
@import "bootstrap"

.mosey-form
  max-width: 30rem
  background: #eee
  padding: 40px
  margin-top: 2rem
  border-radius: 8px
